<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <mat-card class="col-8 profile-box">
      <h1>Your profile</h1>

      <form class="d-flex">

        <div class="p-2 details-container">
          <mat-form-field class="full-width">
            <mat-label>Your Nickname</mat-label>
            <input matInput>
          </mat-form-field>
          <br>

          <div class="recording-container">
            <div class="d-flex">
              <button class="p-2" mat-raised-button *ngIf="!isRecording && !audioBlobUrl" (click)="startRecording()">Start Recording</button>
              <button class="p-2" mat-raised-button *ngIf="isRecording && !audioBlobUrl" (click)="stopRecording()">Stop Recording</button>
              <button class="p-2" mat-raised-button *ngIf="!isRecording && audioBlobUrl" (click)="clearRecordedData()">Clear Recording</button>
              <div class="p-2 recording-time" *ngIf="isRecording && !audioBlobUrl"> {{recordedTime}} </div>
            </div>
            <div class="audio-container">
              <audio class="full-width" *ngIf="!isRecording && audioBlobUrl" controls>
                <source [src]="audioBlobUrl" type="audio/webm">
              </audio>
            </div>
          </div>

          <br>
          <mat-form-field class="full-width">
            <mat-label>Your Description</mat-label>
            <textarea matInput [(ngModel)]="audioTranscript"
                      name="description"></textarea>
          </mat-form-field>
          <br>

          <button mat-raised-button (submit)="onSave()">Save</button>
        </div>
        <div class="p-2 photo-container">
          <img class="selected-image" [src]="selectedPhotoUrl" alt="your profile image">
          <br>

          <button type="button" mat-raised-button (click)="fileInput.click()">Choose Photo</button>
          <input hidden accept="image/*" (change)="onPhotoSelected($event)" #fileInput type="file" id="file">
        </div>
      </form>
    </mat-card>
    <div class="col-2">
    </div>
  </div>
</div>
