<div *ngIf="currentUser && currentUser.isAdmin">
  <div *ngIf="orders && orders.length===0" class="title" style="width: 100%; text-align: center;margin-top: 25px">
    No reported orders...
  </div>
  <mat-card class="order" *ngFor="let order of orders" (click)="goTo('/admin/reportedOrders/'+order.uid)">
    <div class="title">
      {{capitalize(order.status)}}
    </div>
    <div class="people">
      <div class="seller">
        <div>Seller</div>
        <img src="{{order.seller.photoUrl}}">
        <div>{{order.seller.nickname}}</div>
      </div>
      <div class="buyer">
        <div>Buyer</div>
        <img src="{{order.buyer.photoUrl}}">
        <div>{{order.buyer.nickname}}</div>
      </div>
    </div>
  </mat-card>
</div>

