.wrapper{
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.profile-pic{
  flex: 1;
}

.profile-pic img{
  height: 350px;
}

.profile-pic audio{
  position: relative;
  left: 50%;
  transform: translateX(-55%);
}

.desc{
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: space-between;
  text-align: center;
  position: relative;
  top: 50%;
}


