.avatar-image {
  height: 100px;
  width: 100px;
}

.title {
  margin-top: auto;
  margin-bottom: auto;
}

.center {
  margin: auto;
}

.full-width {
  width: 100%;
}

.container {
  overflow: scroll;
}
